<section class="wrapbadgepage">

  <section class="holderbadgepage">

    <section class="navbar">
      <a href="/users/show"><img src="/images/logo-01.png" class="navlogo"></a>
      <%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: "signoutnav" %>
      <%= link_to 'Dashboard', users_show_path, class: 'signoutnav' %>
      <%= link_to 'My Profile', users_profile_path, class: 'signoutnav'%>
      <a href="/users/profile"><section class="avatarnav"></section></a>

    </section>

  <br />
  <br />
  <br />
  <br />
  <br />

  <section id='edit-profile-form-box'>
<br />
<br />

  <h2 id='h2-edit-profile-title'>Edit My Profile</h2>

  <section id="labels">
  </section>

  <section id="fields">
  </section>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div usersap>
    <%= f.label :email %><br>
    <%= f.email_field :email, autofocus: true, placeholder: "Email", class: 'email_field' %>
  </div>
  <br />

 <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <!-- 216px -->

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name, placeholder: "Name", class: 'namefield' %>
  </div>
  <br />

  <div class="field">
    <%= f.label :password %><p id='password-change-notice'>Note: leave blank if you don't want to change it</p><br>
    <%= f.password_field :password, autocomplete: "off", placeholder: "Password", class: 'password_field' %>
  </div>
  <br />

  <div class="field">
    <%= f.label :password_confirmation %><br>
    <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Password Confirmation", class: 'passwordcon' %>
  </div>
  <br />

  <div class="actions">
    <%= f.submit "Update", class: 'submitbutton_edit' %></section>
  </div>
<% end %>

<br />
<br />

<!-- button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete -->

</section>
