<section class="wrapbadgepage">

  <section class="holderbadgepage">

    <section class="navbar">
      <a href="/users/show"><img src="/images/logo-01.png" class="navlogo"></a>
      <%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: "signoutnav" %>
      <%= link_to 'Dashboard', users_show_path, class: 'signoutnav' %>
      <%= link_to 'Edit Profile', edit_user_registration_path, class: 'signoutnav'%>
      <a href="/users/profile"><section class="avatarnav"></section></a>
      <% if current_user.role == 'admin' %>
        <%= link_to 'Reward Employee', new_badge_path, class: "signoutnav" %>
      <% end %>

    </section>

  <br />
  <br />
  <br />
  <br />
  <br />

  <p id='profile-flash-notice'><%= notice %></p>

  <h1 id='h1-profile-page-name'><%= current_user.name %>'s Profile</h1>
  <% if current_user.role == 'admin' %>
    <h2 id='h2-profile-page-name'>Admin <a href='#' id='add-admin'>(Add Admin)</a></h2>
    <section id='admin-management'>
      <%= collection_select :post, :user, User.all, :id, :name %>&nbsp&nbsp<a href='#' id='make-admin'>Make Admin</a>
      <p id='admin-result'></p>
    </section>
  <% end %>

  <section id='profile-page-container'>

    <section id='my-badges-archive' class='profile-page-information-box'>

    <h2 class='h2-header-title'>MY REWARD ARCHIVE</h2>

    <% if @my_badges.any? %>
      <ul id='badge-archive'>

      <% @my_badges.reverse.each do |badge| %>
        <li class='li-award-entry'><img src=<%= reward_image(badge_name(badge)) %> alt='Small icon of badge' class="rewardiconprofile"/>Earned <%= badge_name(badge) %> received on <%= badge_award_date(badge) %></li>
      <% end %>
      </ul>

    <% else %>
<br>
      You have not won any badges yet!

    <% end %>

    </section>

    <section id='recent-news' class='profile-page-information-box'>

      <h2 class='h2-header-title'>RECENT NEWS</h2>

      <% if @all_badges.any? %>

        <ul id='recent-badges-awarded'>
          <% @all_badges.each do |badge| %>
            <li class='li-award-entry'><img class="rewardiconprofile" src=<%= reward_image(badge_name(badge)) %> alt='Small icon of badge' />&nbsp&nbsp&nbsp<b><%= badge_recipient_name(badge) %></b> earned the <%= badge_name(badge) %> reward on <%= badge_award_date(badge) %></li>
          <% end %>
        </ul>

      <% else %>

        There are no recent news items!

      <% end %>

    </section>


  </section>

</section>