<head>

</head>

<html>

<body>

  <section class="navbar">
      <a href="/users/show"><img src="/images/logo-01.png" class="navlogo"></a>
      <%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: "signoutnav" %>
      <%= link_to 'Dashboard', users_show_path, class: 'signoutnav' %>
      <%= link_to 'Edit Profile', edit_user_registration_path, class: 'signoutnav'%>
      <a href="/users/profile"><section class="avatarnav"></section></a>
  </section>ras

      <!-- TOP ROW -->

      <section id="tileswrap">

        <section id="topwrap">

        <section id="tile1">
          <section class="infotile">
            <section class="topnumbertiles">
              <%= days_since_last_reward(current_user) %>
            </section>
              <section class="toptexttiles">
                <h3>DAYS SINCE LAST REWARD</h3>
              </section>
          </section>
        </section>

        <section id="tile2">
          <section class="infotile">
            <section class="topnumbertiles">
              <% if @my_badges.any? %>
              <%= most_popular_reward(current_user) %><% end %>
            </section>
              <section class="toptexttiles">
                <p>MOST REWARDED REWARD</p>
              </section>
          </section>
        </section>

      <section id="tile3">
        <section class="infotile">
          <section class="topnumbertiles">
            <% if @my_badges.any? %>
            <%= total_number_of_rewards(current_user) %><% end %>
          </section>
            <section class="toptexttiles">
              <p>TOTAL NUMBER OF REWARDS</p>
            </section>
        </section>
      </section>

    </section>

    <!-- MIDDLE ROW  -->

    <section id ="middlewrap">

    <section id="tile4">
      <section class="infotile">
        <section class="middlebadgetiles">
          <% if @my_badges.length > 0 %>
            <%= show_last_six_rewards(current_user, 1) %>
          <% else %>
            <p>There is no reward</p>
          <% end %>
        </section>
          <section class="middletexttiles">
            <h3>LATEST REWARD</h3>
          </section>
      </section>
    </section>

    <section id="tile5">
      <section class="infotile">
        <section class="middlebadgetiles">
          <% if @my_badges.length > 1 %>
            <%= show_last_six_rewards(current_user, 2) %>
          <% else %>
            <p>There is no reward</p>
          <% end %>
        </section>
          <section class="middletexttiles">
            <h3>SECOND MOST RECENT REWARD</h3>
          </section>
      </section>
    </section>

      <section id="tile6">
        <section class="infotile">
          <section class="middlebadgetiles">
        <section>
          <% if @my_badges.length > 2 %>
            <%= show_last_six_rewards(current_user, 3) %>
          <% else %>
            <p>There is no reward</p>
          <% end %>
        </section>
        </section>
        <section class="middletexttiles">
          <h3>THIRD MOST RECENT AWARD</h3>
        </section>
      </section>
    </section>

  </section>

    <!-- BOTTOM ROW -->

    <section id="bottomwrap">

    <section id="tile7">
      <section class="infotile">
        <section class="bottombadgetiles">
          <% if @all_badges.length > 0 %>
          <%= show_recent_badge(0) %><% end %>
        </section>
          <section class="bottomtexttiles">
            <h3>Recent Rewards:</h3>
          </section>
      </section>
    </section>

    <section id="tile8">
      <section class="infotile">
        <section class="bottombadgetiles">
          <% if @all_badges.length > 1 %>
          <%= show_recent_badge(1) %><% end %>
        </section>
          <section class="bottomtexttiles">
          </section>
      </section>
    </section>

    <section id="tile9">
      <section class="infotile">
        <section class="bottombadgetiles">
          <% if @all_badges.length > 2 %>
          <%= show_recent_badge(2) %><% end %>
        </section>
          <section class="bottomtexttiles">
          </section>
      </section>
    </section>

  </section>

</body>

</html>

