
<head>

</head>

<html>

<body>

  <section class="navbar">
      <a href="/users/show"><img src="/images/logo-01.png" class="navlogo"></a>
      <%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: "signoutnav" %>
      <a href="/users/profile"><section class="avatarnav"></section></a>
      <% if current_user.role == 'admin' %>
        <%= link_to 'Reward Employee', new_badge_path, class: "signoutnav" %>
      <% end %>

    </section>

      <!-- TOP ROW -->

      <section id="tileswrap">

        <section id="topwrap">

          <section class="tileheader">
            <h1 class="headertitle">Your Statistics</h1>
          </section>

            <section id="tile1">
              <section class="infotile">
                <section class="topnumbertiles">
                  <img class="rewardicon" src="/images/rewardicon-01.png">
                  <h4><%= days_since_last_reward(current_user) %></h4>
                  <p>day(s) ago</p>
                </section>
                  <section class="toptexttiles">
                    <h3>DAYS SINCE LAST REWARD</h3>
                  </section>
              </section>
            </section>

            <section id="tile2">
              <section class="infotile">
                <section class="topnumbertiles">
                  <% if @my_badges.any? %>
                    <img class="rewardicon" src=<%= reward_image(most_popular_reward(current_user)) %>>
                    <h4><%= most_popular_reward(current_user) %> </h4>
                    <p><%= count_of_most_popular_reward(current_user) %> time(s) awarded</p>
                  <% else %>
                    <img class="rewardicon" src='/images/rewardicon-01.png'>
                  <% end %>
                </section>
                  <section class="toptexttiles">
                    <h3>MOST REWARDED REWARD</h3>
                  </section>
              </section>
            </section>

            <section id="tile3">
              <section class="infotile">
                <section class="topnumbertiles">
                  <% if @my_badges.any? %>
                  <img class="rewardicon" src="/images/rewardicon2-01.png">
                  <h4><%= total_number_of_rewards(current_user) %></h4>
                  <p>rewards in total</p>
                  <% else %>
                    <img class="rewardicon" src='/images/rewardicon-01.png'>
                  <% end %>
                  
                </section>
                  <section class="toptexttiles">
                    <h3>TOTAL NUMBER OF REWARDS</h3>
                  </section>
              </section>
            </section>

    </section>

    <!-- MIDDLE ROW  -->

    <section id ="middlewrap">

      <section class="tileheader">
            <h1 class="headertitle">My Latest Rewards</h1>
          </section>

    <section id="tile4">
      <section class="infotile">
        <section class="middlebadgetiles">
          <% if @my_badges.length > 0 %>
          <img class="rewardicon" src=<%= reward_image(show_last_six_rewards_reward(current_user, 1)) %>>
            <h4><%= show_last_six_rewards_reward(current_user, 1) %></h4>
            <p><%= show_last_six_rewards_date(current_user, 1) %></p>
          <% else %>
            <img class="rewardicon" src='/images/rewardicon-01.png'>
            <h2>There is no reward</h2>
          <% end %>
        </section>
          <section class="middletexttiles">
            <h3>LATEST REWARD</h3>
          </section>
      </section>
    </section>

    <section id="tile5">
      <section class="infotile">
        <section class="middlebadgetiles">
          <% if @my_badges.length > 1 %>
          <img class="rewardicon" src=<%= reward_image(show_last_six_rewards_reward(current_user, 2)) %>>
             <h4><%= show_last_six_rewards_reward(current_user, 2) %></h4>
            <p><%= show_last_six_rewards_date(current_user, 2) %></p>
          <% else %>
            <img class="rewardicon" src='/images/rewardicon-01.png'>
            <h2>There is no reward</h2>
          <% end %>
        </section>
          <section class="middletexttiles">
            <h3>LATEST REWARD</h3>
          </section>
      </section>
    </section>

      <section id="tile6">
        <section class="infotile">
          <section class="middlebadgetiles">
          <% if @my_badges.length > 2 %>
            <img class="rewardicon" src=<%= reward_image(show_last_six_rewards_reward(current_user, 3)) %>>
            <h4><%= show_last_six_rewards_reward(current_user, 3) %></h4>
            <p><%= show_last_six_rewards_date(current_user, 3) %></p>
          <% else %>
            <img class="rewardicon" src='/images/rewardicon-01.png'>
            <h2>There is no reward</h2>
          <% end %>
        </section>
        <section class="middletexttiles">
          <h3>LATEST REWARD</h3>
        </section>
      </section>
    </section>

  </section>

    <!-- BOTTOM ROW -->

    <section id="bottomwrap">

      <section class="tileheader">
            <h1 class="headertitle">Latest Co-Worker Rewards
          </section>

    <section id="tile7">
      <section class="infotile">
        <section class="bottombadgetiles">
          <% if @all_badges.length > 0 %>
            <img class="rewardicon" src=<%= reward_image(show_recent_reward_name(0)) %>>
            <h2><%= show_recent_reward_employee(0) %></h2>
            <p><b><%= show_recent_reward_name(0) %></b></p>
            <p><%= show_recent_reward_date(0) %></p>
          <% else %>
            <img class="rewardicon" src='/images/rewardicon-01.png'>
          <% end %>
        </section>
          <section class="bottomtexttiles">
            <h3>RECENT REWARD</h3>
          </section>
      </section>
    </section>

    <section id="tile8">
      <section class="infotile">
        <section class="bottombadgetiles">
          <% if @all_badges.length > 1 %>
            <img class="rewardicon" src=<%= reward_image(show_recent_reward_name(1)) %>>
            <h2><%= show_recent_reward_employee(1) %></h2>
            <p><%= show_recent_reward_name(1) %></p>
            <p><%= show_recent_reward_date(1) %></p>
          <% else %>
            <img class="rewardicon" src='/images/rewardicon-01.png'>
          <% end %>
        </section>
          <section class="bottomtexttiles">
            <h3>RECENT REWARD</h3>
          </section>
      </section>
    </section>

    <section id="tile9">
      <section class="infotile">
        <section class="bottombadgetiles">
          <% if @all_badges.length > 2 %>
            <img class="rewardicon" src=<%= reward_image(show_recent_reward_name(2)) %>>
            <h2><%= show_recent_reward_employee(1) %></h2>
            <p><%= show_recent_reward_name(1) %></p>
            <p><%= show_recent_reward_date(1) %></p>
          <% else %>
            <img class="rewardicon" src='/images/rewardicon-01.png'>
          <% end %>
        </section>
          <section class="bottomtexttiles">
                        <h3>RECENT REWARD</h3>
          </section>
      </section>
    </section>

  </section>
</section>

</body>

</html>

