<head>

</head>

<html>

<body>


<!--     <section class="menu">

      <section class="title">
        Profile
      </section>

      <section class="username">
        <%= current_user.name %>
      </section>

      <section class="signout">
        <% if user_signed_in? %>
          <%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
        <% end %>
      </section>

    </section> -->
    <!-- Boys, I have added a class to the next section without doing any CSS -->
<!--     <section class="mystats">
      <h3>My Stats:</h3>
          <section class="statsdisplay"> -->
        
        <!-- TILE 1 -->

<!--           </section> -->
        <section id="tile1">

          <section id="infotile1">
          <section id="dayssince">
          <section id="tile1number">
          <%= days_since_last_reward(current_user) %>
          </section>
          <section id="tile1text">
          <p>DAYS SINCE LAST REWARD</p>
        </section>
        </section>
      </section>

        </section>

        <section id="tile2">

        <section id="infotile2">
        <section id="mostrewarded">
        <section id="tile2badge">
        <% if @my_badges.any? %>
          <%= most_popular_reward(current_user) %><% end %>
        </section>
        <section id="tile2text">
          <p>MOST REWARDED REWARD</p>
        </section>
        </section>
      </section>
      </section>

      <section id="tile3">

        <section id="infotile3">
        <section id="totalrewards">
          <section id="tile3number">
        <% if @my_badges.any? %>
          <%= total_number_of_rewards(current_user) %><% end %>
        </section>
        <section id="tile3text">
          <p>TOTAL NUMBER OF REWARDS</p>
        </section>
        </section>
      </section>
      </section>
    </section>

      

    </section>
    <section id="tile4">
    <section id="infotile4">
    <section class="myrewards">
      <section class="tile4badge">
          <% if @my_badges.length > 0 %>
            <%= show_last_six_rewards(current_user, 1) %>
          <% else %>
            <p>There is no reward</p>
          <% end %>
    </section>
    <section id="tile4text">
      <h3>My Rewards</h3>
    </section>
    </section>
        </section>
    </section>

    <section id="tile5">
      <section id="infotile5">
        <section id="tile5badge">
          <% if @my_badges.length > 1 %>
            <%= show_last_six_rewards(current_user, 2) %>
          <% else %>
            <p>There is no reward</p>
          <% end %>
        </section>
          <section id="tile5text">
          </section>
      </section>
    </section>

      <section id="tile6">
        <section id="infotile6">
          <section id="tile6badge">
        <section>
          <% if @my_badges.length > 2 %>
            <%= show_last_six_rewards(current_user, 3) %>
          <% else %>
            <p>There is no reward</p>
          <% end %>
        </section>
        </section>
        <section id="tile6text">
        </section>
      </section>
    </section>

    <section id="tile7">
      <section id="infotile7">
  <section class="recentrewards">
      <section class="recentrewardsdisplay">
        <section id="tile7badge">
          <% if @all_badges.length > 0 %>
          <%= show_recent_badge(0) %><% end %>
        </section>
          <section id="tile7text">
      <h3>Recent Rewards:</h3>
    </section>
      </section>
    </section>
  </section>
</section>

    <section id="tile8">
    <section id="infotile8">
        <section id="tile8badge">
          <% if @all_badges.length > 1 %>
          <%= show_recent_badge(1) %><% end %>
        </section>
        <section id="tile8text">
        </section>
      </section>
    </section>

        <section id="tile9">
        <section id="infotile9">
          <section id="tile9badge">
          <% if @all_badges.length > 2 %>
          <%= show_recent_badge(2) %><% end %>
        </section>
        <section id="tile9text">
        </section>
        </section>
      </section>
    <section class="rewardlink">
      <!-- This is the button that Bob can click on to issue a badge to an employee -->
      <% if current_user.email=='bob@test.com' %>
        <%= link_to 'Reward Employee', new_badge_path, 'data-no-turbolink' => true %>
      <% end %>
    </section>

  </section>

</body>

</html>

