<head>

</head>

<html>

<body>

      <!-- TOP ROW -->

        <section id="tile1">
          <section class="infotile">
            <section class="topnumbertiles">
              <%= days_since_last_reward(current_user) %>
            </section>
              <section class="toptexttiles">
                <h3>DAYS SINCE LAST REWARD</h3>
              </section>
          </section>
        </section>

        <section id="tile2">
          <section class="infotile">
            <section class="topnumbertiles">
              <% if @my_badges.any? %>
              <%= most_popular_reward(current_user) %><% end %>
            </section>
              <section class="toptexttiles">
                <p>MOST REWARDED REWARD</p>
              </section>
          </section>
        </section>

      <section id="tile3">
        <section class="infotile">
          <section class="topnumbertiles">
            <% if @my_badges.any? %>
            <%= total_number_of_rewards(current_user) %><% end %>
          </section>
            <section class="toptexttiles">
              <p>TOTAL NUMBER OF REWARDS</p>
            </section>
        </section>
      </section>

    <!-- MIDDLE ROW  -->

    <section id="tile4">
      <section class="infotile">
        <section class="middlebadgetiles">
          <% if @my_badges.length > 0 %>
            <%= show_last_six_rewards(current_user, 1) %>
          <% else %>
            <p>There is no reward</p>
          <% end %>
        </section>
          <section class="middletexttiles">
            <h3>My Rewards</h3>
          </section>
      </section>
    </section>

    <section id="tile5">
      <section class="infotile">
        <section class="middlebadgetiles">
          <% if @my_badges.length > 1 %>
            <%= show_last_six_rewards(current_user, 2) %>
          <% else %>
            <p>There is no reward</p>
          <% end %>
        </section>
          <section class="middletexttiles">
          </section>
      </section>
    </section>

      <section id="tile6">
        <section class="infotile">
          <section class="middlebadgetiles">
        <section>
          <% if @my_badges.length > 2 %>
            <%= show_last_six_rewards(current_user, 3) %>
          <% else %>
            <p>There is no reward</p>
          <% end %>
        </section>
        </section>
        <section class="middletexttiles">
        </section>
      </section>
    </section>

    <!-- BOTTOM ROW -->

    <section id="tile7">
      <section class="infotile">
        <section class="bottombadgetiles">
          <% if @all_badges.length > 0 %>
          <%= show_recent_badge(0) %><% end %>
        </section>
          <section class="bottomtexttiles">
            <h3>Recent Rewards:</h3>
          </section>
      </section>
    </section>

    <section id="tile8">
      <section class="infotile">
        <section class="bottombadgetiles">
          <% if @all_badges.length > 1 %>
          <%= show_recent_badge(1) %><% end %>
        </section>
          <section class="bottomtexttiles">
          </section>
      </section>
    </section>

    <section id="tile9">
      <section class="infotile">
        <section class="bottombadgetiles">
          <% if @all_badges.length > 2 %>
          <%= show_recent_badge(2) %><% end %>
        </section>
          <section class="bottomtexttiles">
          </section>
      </section>
    </section>

</body>

</html>

