<html>
<head>

  <link rel="stylesheet" type="text/css" href="sign_in.css">

  <script src="//use.typekit.net/mqc5gvv.js"></script>
  <script>try{Typekit.load();}catch(e){}</script>

</head>
<body>
  <section class="wrap">
    <section class="holder">
      <section class="login-form">
        <section class ="signup-header1">
          <img id="logo1" src="../images/logo-01.png">
        </section>
        <section class="userlogin">User Login</section>
        
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <section class="fields">
            <%= f.email_field :email, autofocus: true, :placeholder => "Email", class: "email" %>
            <%= f.password_field :password, autocomplete: "off", :placeholder => "Password", class: "password" %>
          </section>
            <% if devise_mapping.rememberable? -%>
          <div class="remember">
            <%= f.check_box :remember_me, class: "rememberbox" %>
            <%= f.label :remember_me %>
          </div>
            <% end -%>
          <section class="actions"><br>
            <%= f.submit "Log in", :class => "login1" %>
          </section>
          <section class="forgot">
          <%= render "devise/shared/links" %>
        </section>
            <% end %>
      </section>
    </section>
  </section>
</body>
</html>